.row {
    padding-top: 25px;
    min-height: calc(100%-80%);
    background-color: #8c640e;
    display:flex;
    justify-content:center;
}

.header {
    padding: 15px 0;
    background-color: #0e198c;
}

.header-content{
    display:flex;
    justify-content:center;
    border:0px solid green;
}