@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <span class="emp-text">EMPLOYEE</span><br>
        <span class="emp-text emp-payroll">PAYROLL_MVC</span>
    </div>
    <h3>EmployeePayRoll Application Is designed And Implemented By Using Asp.net Core MVC</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
