@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<i>This Is the Emoloyee Pay Roll Service Using MVC-privacy Page</i><br />
<span>Designed By Somanath Havinal</span><br />
<span>MOb:973139082323</span>